services:
  esrs-server:
    build:
      context: .
      dockerfile: Dockerfile-server
    ports:
      - 4096:4096
    env_file:
      - .env
  esrs-worker:
    build:
      context: .
      dockerfile: Dockerfile-worker
    env_file:
      - .env
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
  esrs-server-mcp:
    build:
      context: .
      dockerfile: Dockerfile-server-mcp
    ports:
      - 4200:4200
    env_file:
      - .env
  esrs-proxy-mcp:
    build:
      context: .
      dockerfile: Dockerfile-server-mcp
    command: ["python", "-m", "server.fastmcp_proxy"]
    stdin_open: true
    tty: true
    environment:
      - FASTMCP_DEBUG=true
    env_file:
      - .env
    network_mode: host